@import 'tailwindcss';

/* se configura el HTML/Body para que ocupe toda la pantalla sin scroll */
html,
body,
#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Esto es CLAVE para simular un escritorio */
  font-family: 'Inter', sans-serif; /* Puedes cambiar la fuente después */
}
